.DS_Store

ScanbotSDK/
/ClassicComponentsExample.xcodeproj/xcuserdata/
/DataCaptureRTUUIExample.xcodeproj/project.xcworkspace/xcuserdata
/DocumentScannerRTUUIExample.xcodeproj/xcuserdata/
/SwiftUIComponentsExample.xcodeproj/project.xcworkspace/xcuserdata
.idea/
*.xcuserstate
DownloadTemp/
/SwiftUIComponentsExample.xcodeproj/xcuserdata
/DataCaptureRTUUIExample.xcodeproj/xcuserdata

