.DS_Store

ScanbotSDK/
/ClassicComponent/ClassicComponentsExample.xcodeproj/xcuserdata/
/ClassicComponent/ScanbotSDKOCRData.bundle
/DataCaptureRTUUI/DataCaptureRTUUIExample.xcodeproj/project.xcworkspace/xcshareddata
/DataCaptureRTUUI/DataCaptureRTUUIExample.xcodeproj/xcuserdata
/DataCaptureRTUUI/ScanbotSDKOCRData.bundle
/DocumentRTUUI/DocumentScannerRTUUIExample.xcodeproj/xcuserdata/
/SwiftUI/SwiftUIComponentsExample.xcodeproj/project.xcworkspace/xcuserdata
/SwiftUI/SwiftUIComponentsExample.xcodeproj/xcuserdata
.idea/
*.xcuserstate
DownloadTemp/